<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>searchBook.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPWServlet</servlet-name>
        <servlet-class>Servlet.GetPWServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPWServlet</servlet-name>
        <url-pattern>/GPW</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>Servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddReaderServlet</servlet-name>
        <servlet-class>Servlet.AddReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReaderServlet</servlet-name>
        <url-pattern>/addReader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DatabaseTestServlet</servlet-name>
        <servlet-class>Servlet.DatabaseTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatabaseTestServlet</servlet-name>
        <url-pattern>/DBTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyInfo</servlet-name>
        <servlet-class>Servlet.ModifyInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyInfo</servlet-name>
        <url-pattern>/modifyInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyPW</servlet-name>
        <servlet-class>Servlet.ModifyPWServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyPW</servlet-name>
        <url-pattern>/modifyPW</url-pattern>
    </servlet-mapping>
</web-app>